# Ignore virtual environment
venv/
ENV/
env/
.venv/
algotrade/
credentials/

# Bytecode files
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code settings (optional)
.vscode/

# Logs and databases
*.log
*.sqlite3
